In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("results.csv")

In [3]:
data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Constitución,-35.33,-72.42,285.66,92,100,3.96,CL,1596333391
1,Chapais,49.78,-74.85,292.15,88,1,1.50,CA,1596333391
2,Manta,-0.95,-80.73,296.15,83,75,5.10,EC,1596333151
3,Chumikan,54.72,135.31,284.05,90,100,5.72,RU,1596333391
4,Herat Province,34.50,62.00,291.12,36,0,3.29,AF,1596333392

In [7]:
data.to_html("data.html")